<!DOCTYPE html>
<html>
  <head>
    <title>trip</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="http://bootswatch.com/cosmo/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Syncopate:400,700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/hotelStyle.css">
    <link rel="stylesheet" href="/stylesheets/tripForm.css">
  </head>
  <body>

  <div class="header">
    <div class="headerLogo">
      <img src="/images/gv.logomark.black.png" id="tripLogo"alt="Gathervant Logo" />
      <h3 id="gathervantTrip">GATHERVANT</h3>
        <h3 id="groupTripText">GROUP TRIP PLANNER</h3>
    </div>
    <div class="rightHeader">
      <h1 id="headerTripName"><%= data[0].tripName%></h1>
      <h3 id="headerLocation"><%= data[0].destination%></h3>
    </div>
  </div>
  <div class="headerBar"></div>

  </div>
    <div class="container full-form">
      <form class="form-horizontal" name="trip_form" action="./trips" method="POST">
      <fieldset id="tripFieldSet">

        <div class="container">
          <div class="row">
          <!-- <div class="col-sm-6"> -->
            <div class="optionBar">
                <div class="col-lg-12 editTripForm">

                  <label for="inputStartDate" class="col-lg-2 control-label">Start Date</label>
                  <input type="date" name="name" class="form-control col-lg-10" id="inputStartDate" value="<%= data[0].startDate.toISOString().split('T')[0]%>">
                </div>
                <div class="col-lg-12 editTripForm">
                  <label for="inputEndDate" class="col-lg-2 control-label">End Date</label>
                  <input type="date" name="name" class="form-control col-lg-10" id="inputEndDate" value="<%= data[0].endDate.toISOString().split('T')[0]%>">
                </div>
              </div>
            <!-- </div> -->
          </div>
            <div class="container dropdowns">
              <!-- <div class="col-sm-6"> -->
                <div class="form-group">
                  <label for="rooms" class="col-lg-2 control-label">Rooms</label>
                  <div class="col-lg-10" id="firstBox">
                    <select class="form-control" id="rooms">
                      <option selected><%= data[0].rooms %></option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                <!-- </div> -->
              </div>
              <div class="form-group">
                <label for="adults" class="col-lg-2 control-label">Adults</label>
                <div class="col-lg-10" id="secondBox">
                  <select class="form-control" id="adults">
                  <option selected><%= data[0].adults %></option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="children" class="col-lg-2 control-label">Children</label>
                <div class="col-lg-10" id="thirdBox">
                  <select class="form-control" id="children">
                  <option selected><%= data[0].children %></option>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

      </fieldset>
      </div>
      </form>

      <div class="goalsBox">
        <div class="labelBox">
       </div>
        <div class="goalAdder">
          <input type="text" class="goalsInput" name="goalsInput" id="inputText" value="">
          <i id="add-btn"class="fa fa-plus-square fa-lg" style="margin-left: 20px;"></i>

        </div>
      </div>
      </fieldset>
      <button type="submit" class="btn btn-primary" id="tripEditSubmit">Submit</button>

    </form>


 <div class="hotelResponse-container">
      <% for (var i=0; i < 5; i++) { %>

          <div class="hotelSingle-container">
            <div class="hotelImg" style="background-image: url(<%= accommodations[i].image.urls[300] %>)">
              <h5 class="price" >Price: <%= accommodations[i].attraction.minRate %></h5>
            </div>

            <div class="hoteltext-container">
              <h4 class="hotelName"><%= accommodations[i].attraction.name %><h4>
              <div>
                <% for (var j=0; j < accommodations[i].attraction.starRating; j++){ %>
                  <img class="starImg" src="/images/star.png" alt="">
                <% } %>
              </div>
              <div class="hotelAddress"><%= accommodations[i].attraction.location.formattedAddress %></div>
              <div class="bookBtn-container">
                <button class="bookItBtn">Book it</button>
              </div>
            </div>

          </div>

      <% } %>

  </div>
  </body>

<script type="text/javascript" src="//code.jquery.com/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="/javascripts/update.js"></script>


</html>
